body{
    margin-left: 96px;
    margin-right: 96px;
}
.heading-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
.Body-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.home-eth-box{
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
}
.eth-image{
    
    width: 500px;
    height: 419px;
    margin-right: 168px;

    background: #D9D9D9;
    border-radius: 20px;

}

.eth-info{
    padding: 50px;
}

.Get-Started-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 70px;
    gap: 10px;
    width: 258px;
    height: 60px;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;

    margin-top: 58px;
}
.home-eth-para{
    margin-top: 18px;
    
}
.home-eth-heading{
    margin-bottom: 0px;
}